// ========== CONTENT-CLASSIC-PORTFOLIO-INTRO ==========

.content-classic-portfolio {
    width: 100%;
    
    margin: 0 auto;

    &__intro {
        font-size: 1.5rem;
        color: #333333;
        line-height: 2.2rem;
        letter-spacing: 1.5px;

        padding: 3rem 2rem;
        margin: 0 auto;

        max-width: 1300px;
        text-align: center;
    }
}