// ========== POST-IMAGE ==========

.post-image {
    &__img {
        margin-top: 2rem;

        & img {
            width: 100%;
            height: auto;

            object-fit: cover;
        }
    }
}