<div class="blog-posts">
    <div class="blog-posts-container">
        <div class="blog-posts-container__title">LATEST BLOG POSTS</div>
        <div class="blog-posts-container__posts">
            <a href="#" class="blog-posts-container__posts-item">
                <div class="blog-posts-container__posts-item--post">
                    <div class="blog-posts-container__posts-item--post__title">Parturient Commodo Aenean Porttitor</div>
                    <div class="blog-posts-container__posts-item--post__info">
                        <div class="blog-posts-container__posts-item--post__info--date">JANUARY 6, 2016</div>
                        <div class="blog-posts-container__posts-item--post__info--theme">JOURNAL, LIFESTYLE</div>
                    </div>
                </div>
                <div class="blog-posts-container__posts-item--img">
                    <img src="./images/surface.jpg">
                </div>
            </a>
            <a href="#" class="blog-posts-container__posts-item">
                <div class="blog-posts-container__posts-item--post">
                    <div class="blog-posts-container__posts-item--post__title">Parturient Commodo Aenean Porttitor</div>
                    <div class="blog-posts-container__posts-item--post__info">
                        <div class="blog-posts-container__posts-item--post__info--date">JANUARY 6, 2016</div>
                        <div class="blog-posts-container__posts-item--post__info--theme">JOURNAL, LIFESTYLE</div>
                    </div>
                </div>
                <div class="blog-posts-container__posts-item--img">
                    <img src="./images/bridge.jpg">
                </div>
            </a>
            <a href="#" class="blog-posts-container__posts-item">
                <div class="blog-posts-container__posts-item--post">
                    <div class="blog-posts-container__posts-item--post__title">Parturient Commodo Aenean Porttitor</div>
                    <div class="blog-posts-container__posts-item--post__info">
                        <div class="blog-posts-container__posts-item--post__info--date">JANUARY 6, 2016</div>
                        <div class="blog-posts-container__posts-item--post__info--theme">JOURNAL, LIFESTYLE</div>
                    </div>
                </div>
                <div class="blog-posts-container__posts-item--img">
                    <img src="./images/surface.jpg">
                </div>
            </a>
        </div>
    </div>
</div>