<div class="boxme">
    <div class="boxme-container">
        <div class="boxme-container-column">
            <div class="boxme-section">
                <div class="boxme-title">MY SKILLS</div>
                <div class="boxme-paragraph">
                    Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                    Etiam adipiscingmorbi vitae magna tellus, ac mattis urna phasellus rhoncus.
                </div>
            </div>

            <div class="boxme-section" id="photoshop-skill">
                <div class="boxme-skill">
                    <div class="boxme-skill-item">Photoshop</div>
                    <div class="boxme-skill-progress">90</div>
                </div>
                <div class="boxme-progressbar-wrapper">
                    <div class="boxme-progressbar"></div>
                </div>
            </div>
            
            <div class="boxme-section" id="final-cut-skill">
                <div class="boxme-skill">
                    <div class="boxme-skill-item">Final Cut</div>
                    <div class="boxme-skill-progress">80</div>
                </div>
                <div class="boxme-progressbar-wrapper">
                    <div class="boxme-progressbar"></div>
                </div>
            </div>

            <div class="boxme-section" id="studio-photography-skill">
                <div class="boxme-skill">
                    <div class="boxme-skill-item">Studio Photography</div>
                    <div class="boxme-skill-progress">85</div>
                </div>
                <div class="boxme-progressbar-wrapper">
                    <div class="boxme-progressbar"></div>
                </div>
            </div>
            
            <div class="boxme-section" id="motion-video-skill">
                <div class="boxme-skill">
                    <div class="boxme-skill-item">Motion Video</div>
                    <div class="boxme-skill-progress">75</div>
                </div>
                <div class="boxme-progressbar-wrapper">
                    <div class="boxme-progressbar"></div>
                </div>
            </div>
        </div>

        <div class="boxme-container-column">
            <div class="boxme-title">WHY CHOOSE ME?</div>
            <div class="boxme-tabs">
                <div class="boxme-tabs__buttons">
                    <div class="boxme-tabs__buttons-item">This is</div>
                    <div class="boxme-tabs__buttons-item">Tabbed</div>
                    <div class="boxme-tabs__buttons-item">Content</div>
                </div>
                <div class="boxme-tabs__contents">
                    <div class="boxme-tabs__contents-item">
                        <div class="boxme-paragraph">
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna phasellus rhoncus.
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna
                        </div>
                        <div class="boxme-paragraph">
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna phasellus rhoncus.
                        </div>
                        <ul class="boxme-ul">
                            <li class="boxme-ul-item"><div class="boxme-ul-item-text">Mauris lacinia dui non metus dignissim venenatis.</div></li>
                            <li class="boxme-ul-item"><div class="boxme-ul-item-text">Etiam elit tellus, condimentum tempor lobortis non.</div></li>
                            <li class="boxme-ul-item"><div class="boxme-ul-item-text">Aliquam pharetra vestibulum arcu, eget iaculis.</div></li>
                            <li class="boxme-ul-item"><div class="boxme-ul-item-text">Sed posuere consectetur est at lobortis.</div></li>
                        </ul>
                    </div>
                    <div class="boxme-tabs__contents-item">
                        <div class="boxme-paragraph">
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna phasellus rhoncus.
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna
                        </div>
                        <div class="boxme-paragraph">
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna phasellus rhoncus.
                        </div>
                        <div class="boxme-paragraph">
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna phasellus rhoncus.
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna
                        </div>
                    </div>
                    <div class="boxme-tabs__contents-item">
                        <div class="boxme-paragraph">
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna phasellus rhoncus.
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna
                        </div>
                        <div class="boxme-paragraph">
                            Duis non lectus sit amet est imperdiet cursus elementum vitae eros. 
                            Etiam adipiscingmorbi vitae magna tellus, ac mattis urna phasellus rhoncus.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>