<div class="clients">
    <div class="clients-container">
        <div class="clients-container-text">
            <div class="clients-container-text-title">MY CLIENTS</div>
            <div class="clients-container-text-pre">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</div>
        </div>
        <div class="clients-container-slider">
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
            <div class="clients-container-slider--slide"><img src="./images/slidecard.png"></div>
        </div>
    </div>
</div>