<div class="features">
    <div class="features-container">
        <div class="features-container__title">
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
        </div>

        <div class="features-container__blocks">
            <div class="features-container__blocks-row">
                <div class="features-container__blocks-row--block">
                    <div class="features-container__block-icon"><img src="./images/camera.png"></div>
                    <div class="features-container__block-text">
                        <div class="features-container__block-text--title">PHOTOGRAPHY</div>
                        <div class="features-container__block-text--paragraph">
                            Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. 
                            Cras mattis consectetur purus sit amet fermentum.
                        </div>
                    </div>
                </div>

                <div class="features-container__blocks-row--block">
                    <div class="features-container__block-icon"><img src="./images/camera.png"></div>
                    <div class="features-container__block-text">
                        <div class="features-container__block-text--title">MOTION VIDEO</div>
                        <div class="features-container__block-text--paragraph">
                            Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. 
                            Cras mattis consectetur purus sit amet fermentum. faucibus dolor auctor.
                        </div>
                    </div>
                </div>
            </div>

            <div class="features-container__blocks-row">
                <div class="features-container__blocks-row--block">
                    <div class="features-container__block-icon"><img src="./images/camera.png"></div>
                    <div class="features-container__block-text">
                        <div class="features-container__block-text--title">RETOUCHING</div>
                        <div class="features-container__block-text--paragraph">
                            Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor.
                        </div>
                    </div>
                </div>

                <div class="features-container__blocks-row--block">
                    <div class="features-container__block-icon"><img src="./images/camera.png"></div>
                    <div class="features-container__block-text">
                        <div class="features-container__block-text--title">PRINTING</div>
                        <div class="features-container__block-text--paragraph">
                            Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. 
                            Cras mattis consectetur purus sit amet fermentum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>