<div class="swiper-container header-flow-gallery-container">
    <div class="swiper-wrapper header-flow-gallery-wrapper">
        <div class="swiper-slide" style="background-image:url(./images/bridge.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(./images/surface.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(./images/intro1.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(./images/surface.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(./images/intro1.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(./images/surface.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(./images/bridge.jpg)"></div>
    </div>
</div>