<div class="header-classic-portfolio">
    <div class="header-classic-portfolio-slider-wrapper">
        <div class="header-classic-portfolio-title">
            <div class="header-classic-portfolio-title--top">Hello, I'm John Malory</div>
            <div class="header-classic-portfolio-title--bottom">FREELANCE PHOTOGRAPHER</div>
        </div>
        <div class="header-classic-portfolio-slider">
            <div class="header-classic-portfolio-slider--slide"><img src="./images/intro1.jpg"></div>
            <div class="header-classic-portfolio-slider--slide"><img src="./images/intro1.jpg"></div>
            <div class="header-classic-portfolio-slider--slide"><img src="./images/intro1.jpg"></div>
        </div>
    </div>
</div>