<div class="header-fixed-wrapper">
    <div class="header-fixed">
        <div class="header-fixed__logo">
            <a href="https://ekudred.github.io/photoportfolio/">Malory</a>
        </div>
        <div class="header-fixed__navigations">
            <div class="header-fixed__navigations-item">
                <div class="header-fixed__navigations-item-button">
                    <div class="header-fixed__navigations-item-button--type">PORTFOLIO</div>
                    <svg viewBox="0 0 48 48"><path d="M37 18L25 30L13 18"/></svg>
                </div>

                <div class="header-fixed__navigations-item--dropdown">
                    <div class="header-fixed__navigations-item--dropdown-item"><a href="https://ekudred.github.io/photoportfolio/">CLASSIC PORTFOLIO</a></div>
                    <div class="header-fixed__navigations-item--dropdown-item"><a href="./fullscreen-gallery.html">FULLSCREEN GALLERY</a></div>
                    <div class="header-fixed__navigations-item--dropdown-item"><a href="./permalink-portfolio.html">PERMALINK PORTFOLIO</a></div>
                    <div class="header-fixed__navigations-item--dropdown-item"><a href="./flow-gallery.html">FLOW GALLERY</a></div>
                </div>
            </div>

            <div class="header-fixed__navigations-item">
                <div class="header-fixed__navigations-item-button">
                    <div class="header-fixed__navigations-item-button--type">PAGES</div>
                    <svg viewBox="0 0 48 48"><path d="M37 18L25 30L13 18"/></svg>
                </div>

                <div class="header-fixed__navigations-item--dropdown">
                    <div class="header-fixed__navigations-item--dropdown-item"><a href="./about-page.html">ABOUT</a></div>
                    <div class="header-fixed__navigations-item--dropdown-item"><a href="./services.html">SERVICES</a></div>
                </div>
            </div>

            <div class="header-fixed__navigations-item">
                <a href="./classic-blog1.html" class="header-fixed__navigations-item--alien">BLOG</a>
            </div>

            <div class="header-fixed__navigations-item">
                <a href="./contact-me.html" class="header-fixed__navigations-item--alien">CONTACT</a>
            </div>
        </div>

        <div class="menu-burger"><div class="line"></div></div>
        
        <div class="header-fixed__share">
            <div class="header-fixed__share--button">
                <svg viewBox="0 0 20 20"><path d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z"/></svg>
                SHARE
            </div>

            <div class="header-fixed__share--dropdown">
                <div class="header-fixed__share--dropdown-item"><a href="#">SHARE</a></div>
                <div class="header-fixed__share--dropdown-item">
                    <a href="#">
                        <svg viewBox="0 0 512 512">
                            <g><path d="M4,440.5c55.6,5,105.7-9,151.3-43.2c-47.7-4.2-79.6-28-97.4-72.6c15.6,1.9,30.2,2.4,45.7-1.8   c-51.4-16-78.8-49.6-82.5-103.8c15.4,7.2,29.9,12.4,47,12.6c-30.5-22.9-46.1-52.6-45.5-90c0.3-17.2,4.9-33.4,14-48.7   C93.1,159.1,164,195.7,251.3,201.8c-0.5-3.8-0.8-6.8-1.2-9.9c-7.2-55.4,28.8-105.8,83.8-116.3c34.5-6.6,65,2.5,90.8,26.3   c4,3.6,7.4,4.4,12.4,3.1c20.1-5.1,39.2-12.5,57.7-22.5c-7.1,23.4-21.7,41-41.5,55.8c4.5-0.8,9.1-1.4,13.6-2.3   c4.7-1,9.4-2.1,14.1-3.4c4.5-1.2,8.9-2.6,13.3-4.1c4.5-1.5,9-3.2,14.3-4.1c-2.6,3.6-5.1,7.4-7.9,10.9c-11.6,14.7-25,27.6-39.7,39.1   c-1.5,1.2-2.8,3.8-2.7,5.6c0.8,35.5-4.2,70.1-15.7,103.7c-22.6,66.2-62,119.8-121.1,158.1c-29.2,18.9-61.1,31.3-95.2,38.5   c-33.8,7.1-67.8,8.4-101.9,4.4c-34.2-4-66.7-14.1-97.3-29.9c-8.1-4.1-15.9-8.7-23.8-13.1C3.6,441.3,3.8,440.9,4,440.5z"/></g>
                        </svg>
                        TWEET
                    </a>
                </div>
                <div class="header-fixed__share--dropdown-item"><a href="#">PIN</a></div>
                <div class="header-fixed__share--dropdown-item"><a href="#">POST</a></div>
            </div>
        </div>

        <div class="header-fixed__filter">
            <svg viewBox="0 0 485.211 485.21">
                <path d="M333.586,272.929c0,50.228-40.748,90.976-90.979,90.976c-50.244,0-90.978-40.748-90.978-90.976
                    c0-50.225,40.734-90.975,90.978-90.975C292.838,181.954,333.586,222.705,333.586,272.929z M485.211,151.627v242.608
                    c0,33.491-27.158,60.649-60.649,60.649H60.651C27.158,454.885,0,427.727,0,394.236V151.627c0-33.493,27.158-60.651,60.651-60.651
                    h90.978V60.65c0-16.762,13.579-30.324,30.327-30.324h121.3c16.765,0,30.331,13.562,30.331,30.324v30.327h90.976
                    C458.053,90.977,485.211,118.134,485.211,151.627z M363.908,272.929c0-66.87-54.432-121.302-121.302-121.302
                    c-66.884,0-121.302,54.432-121.302,121.302c0,66.875,54.418,121.307,121.302,121.307
                    C309.477,394.236,363.908,339.804,363.908,272.929z M454.889,121.303h-90.98v60.651h90.98V121.303z"/>
            </svg>
            filter
        </div>
    </div>
</div>