<div class="testimonials">
    <div class="testimonials-container">
        <div class="testimonials-container__title">WHAT DO MY CUSTOMERS THINK?</div>
        <div class="testimonials-container__content">
            <div class="testimonials-container__content-item">
                <div class="testimonials-container__content-item__left">
                    <div class="testimonials-img">
                        <img src="./images/t1.jpg">
                    </div>
                </div>
                <div class="testimonials-container__content-item__right">
                    <div class="testimonials-blockquote">
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
                        Nullam id dolor id nibh ultricies vehicula ut id elit. 
                        Cum sociis natoque penatibus et magnis.
                        <div class="testimonials-blockquote-author">BARCLAY WIDERSKI</div>
                    </div>
                </div>
            </div>

            <div class="testimonials-container__content-item">
                <div class="testimonials-container__content-item__left">
                    <div class="testimonials-img">
                        <img src="./images/t2.jpg">
                    </div>
                </div>
                <div class="testimonials-container__content-item__right">
                    <div class="testimonials-blockquote">
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
                        Nullam id dolor id nibh ultricies vehicula ut id elit. 
                        Cum sociis natoque penatibus et magnis.
                        <div class="testimonials-blockquote-author">BARCLAY WIDERSKI</div>
                    </div>
                </div>
            </div>

            <div class="testimonials-container__content-item">
                <div class="testimonials-container__content-item__left">
                    <div class="testimonials-img">
                        <img src="./images/t3.jpg">
                    </div>
                </div>
                <div class="testimonials-container__content-item__right">
                    <div class="testimonials-blockquote">
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
                        Nullam id dolor id nibh ultricies vehicula ut id elit. 
                        Cum sociis natoque penatibus et magnis.
                        <div class="testimonials-blockquote-author">BARCLAY WIDERSKI</div>
                    </div>
                </div>
            </div>

            <div class="testimonials-container__content-item">
                <div class="testimonials-container__content-item__left">
                    <div class="testimonials-img">
                        <img src="./images/t4.jpg">
                    </div>
                </div>
                <div class="testimonials-container__content-item__right">
                    <div class="testimonials-blockquote">
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
                        Nullam id dolor id nibh ultricies vehicula ut id elit. 
                        Cum sociis natoque penatibus et magnis.
                        <div class="testimonials-blockquote-author">BARCLAY WIDERSKI</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>